.sidebar {
  width: 250px;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
.logo img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.menu-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #666;
  margin-bottom: 5px;
  border-radius: 8px;
}
.menu-item i,
.menu-item .icon {
  margin-left: 10px;
}
.menu-item p {
  margin: 0;
}
.menu-item.active {
  background: #7563ae;
  color: #fff;
}
.menu-item.active i,
.menu-item.active .icon {
  color: #fff;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
  border-top: 1px solid #eee;
}
.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.profile .name {
  color: #333;
  margin: 0;
  flex: 1;
}
.profile i,
.profile .icon {
  color: #666;
}
